@media screen and (max-width: 768px){

  main{
    max-width: 768px;
    width: 100%;
    height: 1000px;
  }

  #sclbar{display: none;}
  .sect1-alert{display: none;}
  .pseudo{display: none;}

  #sect2{
    background: none;
    max-width: 768px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 30px;
  }

  #sect2 .sect2-main h1{
    font-size: 76px;
    text-align: center;
  }

  .profile-container .foundation a.homepage{padding: 5px 10px;}
  #sect2 .sect2-main .profile .img-box, #sect2 .sect2-main .profile img, #sect2 .sect2-main .profile .img-box img{width: 200px; justify-content: center;}
  #sect2 .profile-container .profile .img-box img{height: 305px;}
  #sect2 .profile-container .profile div.img-box{height: 340px;}
  #sect2 .profile-container .profile img{height:355px;}

  
  #sect2 .sect2-main .profile-box{
    width: 100%;
    max-width: 768px;
    height: 100vh;
    background-color: var(--mainWhite);
    align-content: center;
  }

  .sect2-main .profile-container{
    grid-template-columns: 200px 170px 280px auto;
    justify-content: center;
    gap: 30px;
    word-break: break-all;
  }

  .sect2-main .profile-container h4{
    font-size: 16px;
  }

  .sect2-main .profile-container p{font-size: 14px;}
.profile-container .profile-sign h2{font-size: 26px; margin: 10px 0 0 0;}
.profile-container .profile-sign h3{top: 12px; font-size: 26px;}

  #sect3{
    width: 100%;
    max-width: 768px;
    height: 100vh;
  }

  #sect3 .sect3-main h1{
    font-size: 76px;
    text-align: center;
  }

  .design-container{
    margin: 20px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: flex-start;
    text-transform: capitalize;
  }

  .design-container .skill-guide{
    width: 100%;
    max-width: 300px;
  }

  #sect4{
    background: none;
    width: 100%;
    max-width: 768px;
    height: 100vh;
  }

  #sect4 .sect4-main h1{
    font-size: 76px;
  }

  .fp-arrow.fp-prev{border-color: transparent var(--mainGold) transparent transparent; left: 3%; top: 350px; transition: 0.5s;}
  .fp-arrow.fp-next{border-color: transparent transparent transparent var(--mainGold); right: 3%; top: 350px; transition: 0.5s;}
  .fp-arrow.fp-prev:hover{border-color: transparent var(--mainColor) transparent transparent ;
  }
  .fp-arrow.fp-next:hover{border-color: transparent transparent transparent var(--mainColor);
  }

  #sect5{
    position: relative;
    width: 100%;
    max-width: 768px;
    height: 100vh;
  }

  
  #sect5 .sect5-main h1{
    font-size: 76px;
  }

  #sect5 .sect5-main .kbo-proto .prototype iframe{width: 300px;}

    #sect5 .sect5-main .kbo-proto .prototype-info, #sect5 .sect5-main .deosup img{width: 300px;}

  #sect5 .sect5-main .kbo-proto .prototype-info, #sect5 .sect5-main .deosup .deosup-info{
    margin-left: 20px; width: 255px;}

  #sect6{
    max-width: 768px;
    width: 100%;
    height: 250px;
  }
  
}

@media screen and (max-width: 540px){

  main{
    width: 100%;
    max-width: 540px;
    height: 1000px;
  }

  #sect1 .sect1-main img{
    width: 250px;
    height: auto;
    top: 200px;
    animation: move 5s forwards infinite;
  }

  #sect1 h3{
    left: 0;
    width: 50%;
    transform: translateX(-25%);
    font-size: 20px;
    text-align: center;
  }
  #sect1 h3 b{font-size: 36px;}

  #sclbar{display: none;}
  .sect1-alert{display: none;}
  .pseudo{display: none;}

  #sect2{
    background: none;
    max-width: 540px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

  #sect2 .sect2-main h1{
    display: none;
  }

  #sect2 .sect2-main .profile-container{
    display: grid;
    height: 100vh;
    grid-template-columns: 360px;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

    #sect2 .sect2-main .profile-container .foundation,   #sect2 .sect2-main .profile-container .history{max-width: 510px; margin: 0; padding: 0;}

  #sect2 .sect2-main .profile-box{
    width: 510px;
    height: 100vh;
    background-color: var(--mainWhite);
    align-content: center;
  }

  #sect2 .profile-container .profile{
    display: none;
  }

  #sect2 .profile-container .foundation{
    text-align: left;
  }

  #sect3{
    width: 100%;
    max-width: 540px;
    height: 100vh;
  }

  #sect3 .sect3-main h1{
    font-size: 60px;
    text-align: center;
  }

  #sect3 .sect3-main .design-container .skill-guide{
    width: 150px;
  }

  #sect3 .sect3-main .design-container .skill-guide h3{
  font-size: 16px;
  }

  #sect3 .sect3-main .design-container{
    margin: 30px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
  }

  #sect3 .sect3-main .design-gallery .swiper-container{
    width: 100%;
    max-width: 540px;
  }

  #sect4{
    background: none;
    width: 100%;
    max-width: 540px;
    height: 100vh;
  }

  #sect4 .sect4-main{
    width: 540px;
    margin: 30px;
  }

  #sect4 .sect4-main h1{
    font-size: 60px;
  }

  #sect4 .sect4-main .web-container .web-img{
    width: 100%;
    max-width: 540px;
    height: 300px;
  }
  
  #sect4 .sect4-main .web-container .web-img img{
    width: 100%;
    max-width: 540px;
    height: 300px;
  }

  #sect4 .sect4-main .web-container .web-info{
    display: flex;
    flex-direction: column;
  }

  #sect4 .sect4-main .web-container .web-info .home-info{
    width: 100%;
    max-width: 540px;
    word-break: break-all;
    flex-direction: row;
  }

  #sect4 .sect4-main .web-container .web-info .home-info h2{
    margin: 20px 0 0 0;
  }

  #sect4 .sect4-main .web-container .web-info .home-info div{
    padding: 10px 0px 5px 0px;
  }

  #sect4 .sect4-main .web-container .web-info .home-info div a{
    width: 110px;
  }
  #sect4 .sect4-main .web-container .web-info h3{
    max-width: 320px;
    word-break: keep-all;
    margin: 0 30px;
  }
  #sect4 .sect4-main .web-container .web-info p{
    max-width: 320px;
    word-break: keep-all;
    margin: 0 30px;
  }


  #sect5{
    position: relative;
    width: 100%;
    max-width: 540px;
    height: 100vh;
  }

  #sect5 .sect5-main h1{
    width: 100%;
    max-width: 540px;
    font-size: 60px;
    line-height: 80%;
  }

  #sect5 .sect5-main .sect5-blur .mobile-container div{
    max-width: 540px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #sect5 .sect5-main .sect5-blur .mobile-container .prototype iframe{
    width: 300px; height: 300px;
  }

  #sect5 .sect5-main .deosup .deosup-info, #sect5 .sect5-main .kbo-proto .prototype-info{
    width: 300px;
    height: 250px;
    word-break: break-all;
    margin: 10px 0;
    padding: 2px;
  }

  #sect5 .sect5-main .deosup img{
    width: 180px;
    height: 340px;
    border-radius: 5px;
  }

  #sect5 .sect5-main h3{padding:0}

  #sect5 .sect5-main .deosup .deosup-info a{
    font-family: "Roboto Condensed", sans-serif;
    line-height: 30px;
    margin: 0;
    padding: 0;
  }

  #sect5 .sect5-main .deosup .deosup-info .btn{
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 0;
    gap: 5px;
    width: 270px;
    line-height: 14px;
    font-size: 14px;
  }

  #sect6{
    width: 100%;
    max-width: 540px;
    height: 250px;
    word-break: keep-all;
  }
    
}