#sect1 .pseudo .star1{
  position: absolute;
  font-size: 32px;
  top: 60px;
  left: 400px;
  color: var(--mainBlack);
  cursor: pointer;
  animation: move 4s alternate infinite;
}

#sect1 .pseudo .star1:hover{
  color: var(--mainColor);
}

#sect1 .pseudo .star1:hover:after{
  position: absolute;
  content: '행복하세요~';
  top: 40px;
  left: -25px;
  width: 70px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  padding-top: 10px;
  background-color: var(--mainBlack);
  color: var(--mainWhite);
}


#sect1 .pseudo .moon1{
  position: absolute;
  font-size: 32px;
  top: 120px;
  right: 410px;
  color: var(--mainBlack);
  cursor: pointer;
  animation: move 4s alternate infinite;
}

#sect1 .pseudo .moon1:hover{
  color: var(--mainColor);
}

#sect1 .pseudo .moon1:hover:after{
  position: absolute;
  content: 'AI를 활용할 것.';
  word-break: keep-all;
  top: 40px;
  left: -25px;
  width: 80px;
  height: 20px;
  padding-top: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 12px;
  font-size: 12px;
  background-color: var(--mainBlack);
  color: var(--mainWhite);
}

#sect1 .pseudo .star2 img{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 850px;
  left: 750px;
  color: var(--mainBlack);
  cursor: pointer;
  animation: move 4s alternate infinite;
}

.profile .img-box:before{
  position: absolute;
  content: '\F59C\F59C\F59C';
  width: 100px;
  height: 100px;
  font-size: 16px;
  font-weight: 800;
  top: 0;
  left: 0;
  color: var(--mainColor);
  animation: desappear 2s alternate infinite;
}