#sect1 .pseudo .star1{
  position: absolute;
  font-size: 32px;
  top: 60px;
  left: 400px;
  color: var(--mainBlack);
  cursor: pointer;
  animation: move 4s alternate infinite;
}

#sect1 .pseudo .star1:hover{
  color: var(--mainColor);
}

#sect1 .pseudo .star1:hover:after{
  position: absolute;
  content: '행복하세요~';
  top: 40px;
  left: -25px;
  width: 80px;
  height: 20px;
  border-radius: 5px;
  text-align: center;
  font-size: 12px;
  background-color: var(--mainBlack);
  color: var(--mainWhite);
}


#sect1 .pseudo .moon1{
  position: absolute;
  font-size: 32px;
  top: 120px;
  right: 410px;
  color: var(--mainBlack);
  cursor: pointer;
  animation: move 4s alternate infinite;
}

#sect1 .pseudo .moon1:hover{
  color: var(--mainColor);
}

#sect1 .pseudo .moon1:hover:after{
  position: absolute;
  content: '오후 10시 이후의 문의는 받지 않습니다.';
  word-break: keep-all;
  top: 50px;
  left: -40px;
  width: 120px;
  height: 30px;
  padding-top: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 12px;
  font-size: 12px;
  background-color: var(--mainBlack);
  color: var(--mainWhite);
}

#sect1 .pseudo .star2 img{
  position: absolute;
  font-size: 32px;
  width: 45px;
  top: 850px;
  left: 750px;
  color: var(--mainBlack);
  cursor: pointer;
  animation: move 4s alternate infinite;
}

#sect1 .pseudo .star2:hover{
  color: var(--mainColor);
}

#sect1 .pseudo .star2:hover:after{
  position: absolute;
  content: '--';
  word-break: keep-all;
  border-radius: 5px;
  text-align: center;
  line-height: 12px;
  font-size: 12px;
  background-color: var(--mainBlack);
  color: var(--mainWhite);
}